In [7]:
# Identify prospective test-drivers for re-targeting

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel("Experian Step Up Google Analytics Data.xlsx")

In [4]:
df.shape # This datasets have 21223 rows and 10 columns

(21223, 10)

In [5]:
df.head() # to check top 5 sample of data.

,Client ID,Sessions,Average Session Duration,Bounce Rate,Event 1,Event 2,Event 3,Event 1 Conversion Rate,Event 2 Conversion Rate,Event 3 Conversion Rate
0,6003803477,6,00:01:31,0.666667,1,0,0,0.166667,0.000000,0.000000
1,8228267465,2,00:01:01,0.000000,2,2,1,1.000000,1.000000,0.500000
2,8758153473,4,00:01:25,0.000000,1,4,1,0.250000,1.000000,0.250000
3,4574711083,7,00:01:28,0.714286,0,2,1,0.000000,0.285714,0.142857
4,828987061,4,00:01:05,0.250000,3,0,0,0.750000,0.000000,0.000000

In [6]:
df["Client ID"].duplicated().sum()
# There is no duplicate Client ID present in the dataset.

0

In [16]:
df.dtypes

Client ID                     int64
Sessions                      int64
Average Session Duration     object
Bounce Rate                 float64
Event 1                       int64
Event 2                       int64
Event 3                       int64
Event 1 Conversion Rate     float64
Event 2 Conversion Rate     float64
Event 3 Conversion Rate     float64
dtype: object

In [8]:
df["Sessions"].sort_values()

15070     1
3853      1
11424     1
1798      1
19176     1
         ..
4942     10
19222    10
15403    10
4944     10
9626     10
Name: Sessions, Length: 21223, dtype: int64